@import "custom-variables";

.listview-messages {
    display:flex;
    flex-direction: column-reverse;
    width: 60%;
    ul {
        display:flex;
        flex-direction: column-reverse;
        li:first-child {
            animation-duration: 1s;
            animation-name: fade;
            animation-timing-function: ease-in;
        }
    }

}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}